[submodule "lib/cpp-httplib"]
	path = lib/cpp-httplib
	url = https://github.com/yhirose/cpp-httplib
[submodule "lib/mINI"]
	path = lib/mINI
	url = https://github.com/pulzed/mINI
[submodule "lib/spdlog"]
	path = lib/spdlog
	url = https://github.com/gabime/spdlog
[submodule "lib/filesystem"]
	path = lib/filesystem
	url = https://github.com/gulrak/filesystem.git
[submodule "lib/libarchive_cpp_wrapper"]
	path = lib/libarchive_cpp_wrapper
	url = https://github.com/do-m-en/libarchive_cpp_wrapper.git
